*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}

.box{
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    border-radius: 30px ;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.box:hover input{
    width: 400px;
}

@media (max-width: 600px){
    .box:hover input{
        width: 200px;
    }
}

.box input{
    width: 0;
    outline: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
    border: none;
    font-size: 20px;
}

.box a .fas{
    color: blueviolet;
    font-size: 22px
}